@charset "ISO-8859-1";

.input
{
	border:1px solid ;
	border-radius: 10px;
	border-color: white;
	background: transparent;
	padding: 0px 5px;
	height: 40px;
	width: 50%;
	color: black;
	font-weight: bold;
	font-size: 18px;
}
.loginb{
   position: fixed;
   top: 0; 
   right:0;
   display: block;
	width: 500px;
	height: 600px;
	background-color: hsl(40, 12%, 35%);
	color:#fff;
	top: 40%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-40%);
	padding: 70px 30px;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 1.5px 1.5px 3px 3px #202020 ;
}
body {

    background-color: #1b214d;
  }
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
.loginb p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 20px;
}
.loginb input {
	 width: 100%;
	 margin-bottom: 20px;
}
.button input {
	 width: 45%;
	 margin-bottom: 20px;
}

.button input:nth-child(3) {
	 width: 100%;
	 margin-bottom: 20px;
}
a
{

text-decoration: none;

color:orange;
}
a:hover{
	color:red;
}


.button input:hover{
			box-shadow: 1.5px 1.5px 3px 3px #857e7e ;
	background-color: green;
	border-radius: 10px;
	color:black;
}
.button1 input:hover{
			box-shadow: 1.5px 1.5px 3px 3px #857e7e ;
		background-color: green;
	border-radius: 10px;
	color:black;
}

.button input:nth-child(3):hover{
			box-shadow: 1.5px 1.5px 3px 3px #857e7e ;
	background-color: red;
	border-radius: 10px;
	color:black;
}
.button input
{
	cursor: pointer;
		border-radius: 10px;
	text-decoration: none;
	background-color:orange;
	color:#ff8000;
	padding: 12px 15px;
	border: 2px solid transparent;
	transition:0.6s ease;
	color: #fff;
	font-size: 12px;
}


