body{
	background-color:#1b214d;
}
.feed{
   position: fixed;
   top: 0; 
   right:0;
   display: block;
	width: 500px;
	height: 850px;
	background-color: hsl(40, 12%, 35%);
	color:#fff;
	top: 40%;
	left:50%;
	color:black;
	position:absolute;
	transform:translate(-50%,-39%);
	padding: 70px 30px;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 1.5px 1.5px 3px 3px #202020 ;
}
h2,h3 {
	text-align: center;
}
.container
{
		text-align: center;
		border-top: solid;
		border-right: solid;
		border-left: solid;
		border-bottom: solid;
		border-radius: 5px;
	}
.container label{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 20px;
}
.btn{
	cursor: pointer;
	border-radius: 10px;
	text-decoration: none;
	background-color:orange;
	color:#ff8000;
	width:150px;
	padding: 12px 15px;
	border: 2px solid transparent;
	transition:0.6s ease;
	color: #fff;
	font-size: 12px;
}
.btn:hover{
		box-shadow: 1.5px 1.5px 3px 3px #a8bfb1 ;

}
textarea{
	resize: none;
	height:110px;
	width: 420px;
	box-sizing: border-box;
	border-radius: 5px;
 	border-color: white;
	background: transparent;
	padding: 0px 5px;
	color: black;
	font-weight: bold;
	font-size: 18px;

}
a{
        font-size: 20px;
        border:1px solid;
        border-color: red;
        border-radius:6px;
        font-weight: bold;
        font-family: sans-serif;
        font:monospace;
        color:white;
        transition: 0.2s;
   
}
#blink1{
	  border:none;
	    font-weight: bold;
	   font-size:20px;
        font-family: sans-serif;
        font:monospace;
        color:#e7edb4;
}
input
{
	border:1px solid ;
	border-radius: 10px;
	border-color: white;
	background: transparent;
	padding: 0px 5px;
	height: 40px;
	width: 70%;
	color: black;
	font-weight: bold;
	font-size: 18px;
}
 .back{
 	border:1px solid ;
	border-radius: 10px;
	background-color: orange;
	padding: 0px 5px;
	height: 40px;
	width: 30%;
		transition:0.6s ease;
	color: white;
	font-weight: bold;
	font-size: 18px;
 }
 .back:hover{
 	cursor: pointer;
 	box-shadow: 1.5px 1.5px 3px 3px #857e7e ;
	background-color: green;
	border-radius: 10px;
	color:black;
 }
.check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* Hide the browser's default radio button */
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 145px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.check input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.check .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}